
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Root Variables */
 

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.index {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 1rem;
}
.profile,
.discover {
  padding-left: 2rem;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
 
  /* background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); */
  
  line-height: 1.6;
  margin: 0;
}
.page-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

/* Header */
.header {
 
  color: #f5af19;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 600px;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

header nav a:hover {
  color: var(--secondary-color);
}

/* *********************************My heading  ************************************** */

#myheading {
  display: inline-block;
  padding: 15px 50px;
  font-size: 32px;
  color: white;
  background-color: #111;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#myheading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 3px; /* Border thickness */
  background: linear-gradient(270deg, 
      red, orange, yellow, green, cyan, blue, violet, red);
  background-size: 600% 600%;
  animation: moveBorder 8s linear infinite;
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






/* ******************************************************************************************* */


/* ********************************MY SUB TITLES****************************************** */

/* for your subheadings underline on hover */
/* for your subheadings underline on hover */
#our\ subheadings li a {
  position: relative;
  color: #f5af19;   /* your text color */
  text-decoration: none;  
}

/* underline initially hidden */
#our\ subheadings li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;  /* underline color white */
  left: 0;
  bottom: -2px;
  transition: width 0.4s ease; /* smooth animation */
}

/* on hover show underline fully */
#our\ subheadings li a:hover::after {
  width: 100%;
}









/* *************************************My buttons************************************* */


.cta-buttons a button {
  padding: 12px 30px;
  border: none;
  border-radius: 50px;  /* Rounded Shape */
  background-color: #007BFF;  /* Normal Color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;  /* Smooth Hover Effect */
  margin: 10px; /* Gap between buttons */
}

.cta-buttons a button:hover {
  background-color: #FF5733; /* Color on Hover */
  transform: translateY(-5px); /* Floating Effect */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Shadow on Hover */
}


/* *********************************************************************************** */

/* *************************************My discription **************************************** */
/* Initial Hidden Position */
#h2, #h3 {
  color:#FF5733;
  position: relative;
  left: -200px;  /* Start far left */
  opacity: 0;    /* Invisible initially */
  animation: slideIn 2s forwards;  /* Apply Animation */
}

/* Animation Keyframes */
@keyframes slideIn {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0px;   /* Stop here (half screen distance feel) */
    opacity: 1;
  }
}





/* *********************************************************************************** */







header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Logout Button */
#logout-btn,
#delete-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.5px solid var(--accent-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease,
    border-color 0.3s ease;
}

#logout-btn i,
#delete-btn i {
  font-size: 1.2rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

#logout-btn:hover,
#delete-btn:hover {
  background-color: var(--highlight-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
  transform: scale(1.05);
}

#logout-btn:hover i,
#delete-btn:hover i {
  color: var(--accent-color);
}

/* Landing Section */
.landing {
  text-align: center;
  padding: 2rem;
  align-items: center;
}

.cta-buttons button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  border: 0.5px solid var(--accent-color);
}

.cta-buttons button:hover {
  background-color: var(--highlight-color);
  color: var(--accent-color);
}

/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0;
  background-color: var(--primary-color);
  color: var(--accent-color);
  min-width: 600px;
}

/* Auth Section */
.hidden {
  display: none;
}

#auth-section {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  min-width: 350px;
  max-width: 450px;
}

.form-container {
  margin: 0;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  background-color: var(--secondary-color);
  border: 0.5px solid var(--accent-color);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin: 0.5rem 0 0.25rem;
  font-weight: bold;
  text-align: left;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

form .btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.5px solid var(--accent-color);
  font-size: 1.2rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

form .btn:hover {
  background-color: var(--highlight-color);
  color: var(--accent-color);
}

.error-message {
  font-size: 0.85rem;
  color: var(--highlight-color);
  margin-top: -0.5rem;
}

/* Password Visibility */
.password-container {
  display: flex;
  flex-direction: column;
}

.password-container input {
  width: 100%;
  margin: 0;
}

.toggle-password {
  right: 0.5rem;
  top: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.5px solid var(--accent-color);
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.toggle-password:hover {
  background-color: var(--highlight-color);
  color: var(--accent-color);
}

/* Hero Section */
.hero-section {
  padding: 1rem;
  margin-left: -2rem;
  background-color: var(--background-color);
  min-width: 600px;
}

.hero-section form {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1rem;
  max-width: 100vw;
  width: 100%;
  min-width: 570px;
}

/* Scrollable Row */
.scroll-row {
  display: flex;
  overflow-x: auto;
  gap: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  min-width: 570px;
}

.scroll-row::-webkit-scrollbar {
  height: 8px;
}

.scroll-row::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

/* User Cards */
.user-card {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 8px;
  width: 50vw;
  height: 30vh;
  overflow-y: auto;
  min-width: 250px;
  max-width: 250px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.user-card:hover {
  transform: scale(1.1);
  border-color: var(--secondary-color);
}

.user-card i {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: 1rem;
  color: var(--highlight-color);
  background-color: var(--accent-color);
  border: 3px solid var(--highlight-color);
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.user-card i:hover {
  transform: scale(1.1);
  border-color: var(--accent-color);
}

.send-request-btn {
  background: none;
  border: none;
}

/* Forms */
form {
  background-color: var(--primary-color);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 8px;
  max-width: 100vw;
  width: 95%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form select,
form textarea,
form button,
form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 1rem;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

form button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 0.5px solid var(--accent-color);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: var(--highlight-color);
  color: var(--accent-color);
}

#profile-form {
  margin-bottom: 1rem;
  min-width: 540px;
}

/* Status Message */
#profile-status,
#login-status,
#registration-status {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

#profile-status.success {
  color: var(--success-color);
}

#profile-status.error {
  color: var(--error-color);
}

.role-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.role-container label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--primary-text-color);
}

.role-container input[type="radio"] {
  margin: 0;
  accent-color: var(--accent-color);
}

/* Image Container (Desktop View) */
.image-container {
  width: auto;
  max-width: 50vw;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0 2rem;
  margin: 0;
}

.image-container img {
  width: 45vw;
  border-radius: 20px;
}

/* Connection Page */
.connections-container {
  padding: 2rem;
  margin-top: 3rem;
  min-width: 600px;
  background-color: var(--primary-color);
}

.request-card,
.connection-card {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.accept-request-btn {
  background-color: var(--highlight-color);
  color: var(--accent-color);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}

button.decline-request-btn {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .index {
    flex-direction: column;
    align-items: stretch;
  }

  .landing {
    margin-bottom: 1rem;
  }

  #auth-section {
    margin-top: 0;
  }
  .image-container {
    width: 100%;
    height: auto;
    padding: 1rem 0 0 2rem;
    margin: 0;
  }
  
  .image-container img {
    width: 20rem;
    border-radius: 20px;
  }
}